{% extends 'log/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'log/styles/admin.css' %}">
{% endblock %}


{% block main %}
<a href="{% url 'adminEstadios' %}">
    <img src="{% static 'log/images/estadio.png' %}" alt="estadio">
</a>

<a href="{% url 'adminJugadores' %}">
    <img src="{% static 'log/images/jugador.png' %}" alt="estadio">
</a>

<a href="{% url 'adminGoleadores' %}">
    <img src="{% static 'log/images/goles.png' %}" alt="estadio">
</a>

<a href="{% url 'adminPartidos' %}">
    <img src="{% static 'log/images/partidos.png' %}" alt="estadio">
</a>


{% endblock %}